<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VocabVault</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chewy&family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>VocabVault</header>

    <div class="login-signup-container">

      <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <div class="error-message">
          <%= errorMessage %>
        </div>
      <% } %>

        <h2>Login</h2>
        <form action="/login" method="POST">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <button type="submit">Log In</button>
          <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </form>
      </div>
    
    <script src="/VocabVault/index.js"></script>
</body>
</html>